:root {
    font-size: 16px;
    --moderate-cyan: hsl(176, 50%, 47%);
    --dark-cyan: hsl(176, 72%, 28%);
    --black: hsl(0, 0%, 0%);
    --dark-gray: hsl(0, 0%, 48%);
    --light-gray: hsl(0, 0%, 98%);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--light-gray);
}

header {
    background-image: url("images/image-hero-desktop.jpg");
    width: 100%;
    height: auto;
}